body {
    background: whitesmoke;
	font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 600;
}

/* ----------------------------------------------------------------------
Box
---------------------------------------------------------------------- */

.box {
    width: 760px;
    max-width: 80%;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    background: white;
    padding: 6px;
}

.box + .box {
    margin: 10px 0 0;
}

/* ----------------------------------------------------------------------
Button
---------------------------------------------------------------------- */

.btn {
    /* block */
    padding: 8px 10px;
    margin: 0;
    border-width: 0;
    border-bottom: 1px solid #20558a;
    /* decoration */
    border-radius: 3px;
    background: #1E90FF;
    box-shadow: 0px 2px 3px rgb(0, 0, 0, 0.2);
    /* font / text */
    line-height: 1.1;
    color: rgb(0,0,0,0.7);
    font-size: 1.1rem;
    font-weight: 800;
    text-shadow: 0px 1px 0px rgb(255, 255, 255, 0.2);
    cursor: pointer;
}

.btn:hover {
	background: #1876d6;
}

.btn_warning {
	background: #de4d3a;
	border-color: #63221a;
}

.btn_warning:hover {
	background: #a8392c;
}

/* ----------------------------------------------------------------------
Songs List
---------------------------------------------------------------------- */

.songsList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.songsList > * + * {
    margin: 10px 0 0;
}

/* ----------------------------------------------------------------------
Song Pill
---------------------------------------------------------------------- */

.songPill {
    width: 760px;
    max-width: 80%;
    border: 1px solid #87CEEB;
    border-radius: 3px;
    background: white;
    padding: 6px;
}
